:root {
    --icon-fill: #000;
    --icon-fill-hover: #333;
    --ease-elastic-3: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-elastic-4: cubic-bezier(0.37, 0, 0.63, 1);
    --ease-out-5: cubic-bezier(0, 0.75, 0.25, 1);
    --ease-3: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.dark {
    --icon-fill: hsl(210 10% 70%);
    --icon-fill-hover: hsl(210 15% 90%);
    .sun-and-moon{
        > .sun {
            transform: scale(1.75);
        }
        > .sun-beams {
            opacity: 0;
        }
        > .moon {
            > circle {
                transform: translateX(-7px);
            }
        }
    }
}

.sun-and-moon{
    > :is(.moon, .sun, .sun-beams) {
        transform-origin: center;
    }
    > :is(.moon, .sun) {
        fill: var(--icon-fill);
    }
    > .sun-beams {
        stroke: var(--icon-fill);
        stroke-width: 2px;
    }
}
.theme-toggle{
    position: fixed;
    right: 5%;
    top: 5%;
    &:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
        fill: var(--icon-fill-hover);
    }
    &:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
        stroke: var(--icon-fill-hover);
    }
}


@supports (cx: 1) {
    .dark .sun-and-moon > .moon > circle {
        cx: 17;
        transform: translateX(0);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .sun-and-moon{
        > .sun {
            transition: transform .5s var(--ease-elastic-3);
        }
        > .sun-beams {
            transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3);
        }
        .moon{
            > circle {
                transition: transform .25s var(--ease-out-5);
            }
        }
    }

    @supports (cx: 1) {
        .sun-and-moon{
            .moon{
                > circle {
                    transition: cx .25s var(--ease-out-5);
                }
            }
        }
    }

    .dark{
        .sun-and-moon{
            > .sun {
                transition-timing-function: var(--ease-3);
                transition-duration: .25s;
                transform: scale(1.75);
            }
            > .sun-beams {
                transition-duration: .15s;
                transform: rotateZ(-25deg);
            }
            > .moon{
                > circle {
                    transition-duration: .5s;
                    transition-delay: .25s;
                }
            }
        }
    }
}
